In [1]:
import geobr
import pandas as pd
import geopandas as gpd
import random
from shapely.geometry import Point, Polygon

In [2]:
#Base de dados de população por município
pop = pd.read_csv("data/2019.csv", sep = ";")
pop['GEOCODIGO'] = pop['COD_UF']*100000 + pop['COD_MN']

#Codigo de 6 dígitos
trans_cod = pd.read_csv("data/cod6.csv", sep = ";")
pop = pd.merge(pop, trans_cod, on = 'GEOCODIGO')

pop

      COD_UF  COD_MN  POP_ESTIM  GEOCODIGO  Codmun6
0         11      15      22945    1100015   110001
1         11      23     107863    1100023   110002
2         11      31       5312    1100031   110003
3         11      49      85359    1100049   110004
4         11      56      16323    1100056   110005
...      ...     ...        ...        ...      ...
5560      52   22005      13863    5222005   522200
5561      52   22054       8743    5222054   522205
5562      52   22203       6171    5222203   522220
5563      52   22302       5821    5222302   522230
5564      53     108    3015268    5300108   530010

[5565 rows x 5 columns]

In [3]:
#Estados
est = pop.groupby(['COD_UF']).sum()
est = est.iloc[:,[1]]
est.to_csv("results/Estados.csv", sep = ";")
est

        POP_ESTIM
COD_UF
11        1777225
12         881935
13        4144597
14         605761
15        8586781
16         845731
17        1572866
21        7075181
22        3273227
23        9132078
24        3506853
25        4018127
26        9557071
27        3337357
28        2298696
29       14873064
31       21168791
32        4018650
33       17264943
35       45919049
41       11433957
42        7141937
43       11374236
50        2773431
51        3484466
52        7018354
53        3015268

In [4]:
#Microrregioes
micro = pd.read_csv("data/cod_mic.csv", sep = ";")
micro = pd.merge(pop, micro, on = "Codmun6")
micro = micro.groupby(['COD_MIC']).sum()
micro = micro.iloc[:, [2]]
micro.to_csv("results/Microrregioes.csv", sep = ";")
micro

         POP_ESTIM
COD_MIC
11001       676286
11002        84771
11003       206332
11004       294493
11005        69746
...            ...
52015       409691
52016       100780
52017       176527
52018       128463
53001      3015268

[558 rows x 1 columns]

In [5]:
#Mesorregioes
meso = pd.read_csv("data/cod_meso.csv", sep = ";")
meso = pd.merge(pop, meso, on = "GEOCODIGO")
meso = meso.groupby(['COD_MESO']).sum()
meso = meso.iloc[:,[2]]
meso.to_csv("results/Mesorregioes.csv", sep = ";")
meso

          POP_ESTIM
COD_MESO
1101         761057
1102        1016168
1201         242796
1202         639139
1301         138655
...             ...
5202         307903
5203        3586015
5204        1410715
5205        1490401
5301        3015268

[137 rows x 1 columns]

In [6]:
#Grandes Regiões
grand_reg = pd.read_csv("data/cod_reg.csv", sep = ";")
grand_reg = pd.merge(est, grand_reg, on = "COD_UF")
grand_reg = grand_reg.groupby(['COD_REG']).sum()
grand_reg = grand_reg.iloc[:,[1]]
grand_reg.to_csv("results/GrandesRegioes.csv", sep = ";")
grand_reg

         POP_ESTIM
COD_REG
1         18414896
2         57071654
3         88371433
4         29950130
5         16291519

In [7]:
#Regioes Metropolitanas
reg_met = pd.read_csv("data/cod_met.csv", sep = ";")
reg_met = pd.merge(pop, reg_met, on = "Codmun6")
reg_met = reg_met.groupby(['COD_MET']).sum()
reg_met = reg_met.iloc[:,[2]]
reg_met.to_csv("results/RegioesMetropolitanas.csv", sep = ";")
reg_met

         POP_ESTIM
COD_MET
11900      1777225
12900       881935
13010      2676936
13900      1467661
14010       463320
...            ...
51012       113945
51900      2443159
52010      2606931
52900      3129569
53010      4406341

[120 rows x 1 columns]

In [8]:
#Regioes Intermediarias
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="CDA UFMG")

In [9]:
inter_shp = gpd.read_file("data/reg_int/BR_RG_Intermediarias_2019.shp")
inter_shp

,CD_RGINT,NM_RGINT,SIGLA_UF,geometry
0,1101,Porto Velho,RO,"POLYGON ((-65.33301 -9.94428, -65.33355 -9.942..."
1,1102,Ji-Paraná,RO,"POLYGON ((-62.25966 -10.47685, -62.13141 -10.3..."
2,1201,Rio Branco,AC,"POLYGON ((-70.62087 -10.70639, -70.62060 -10.5..."
3,1202,Cruzeiro do Sul,AC,"POLYGON ((-73.33214 -8.47537, -73.33129 -8.471..."
4,1301,Manaus,AM,"POLYGON ((-64.36722 -2.26512, -64.36739 -2.253..."
...,...,...,...,...
130,5203,Rio Verde,GO,"POLYGON ((-52.82079 -18.31072, -52.82254 -18.3..."
131,5204,São Luís de Montes Belos - Iporá,GO,"POLYGON ((-52.36102 -16.08160, -52.36040 -16.0..."
132,5205,Porangatu - Uruaçu,GO,"POLYGON ((-50.15854 -14.00468, -50.15889 -14.0..."
133,5206,Luziânia - Águas Lindas de Goiás,GO,"POLYGON ((-47.39241 -13.26235, -47.39179 -13.2..."
134,5301,Distrito Federal,DF,"POLYGON ((-47.81455 -16.04995, -47.81478 -16.0..."

In [10]:
mun = geobr.read_municipality(year = 2018)
mun = pd.merge(mun, pop, left_on = "code_muni", right_on = "GEOCODIGO")
mun

,code_muni,name_muni,code_state,abbrev_state,geometry,COD_UF,COD_MN,POP_ESTIM,GEOCODIGO,Codmun6
0,1100015.0,Alta Floresta D'oeste,11,RO,"MULTIPOLYGON (((-62.23224 -11.90804, -62.20670...",11,15,22945,1100015,110001
1,1100023.0,Ariquemes,11,RO,"MULTIPOLYGON (((-63.57327 -9.78326, -63.57016 ...",11,23,107863,1100023,110002
2,1100031.0,Cabixi,11,RO,"MULTIPOLYGON (((-60.71834 -13.39058, -60.70904...",11,31,5312,1100031,110003
3,1100049.0,Cacoal,11,RO,"MULTIPOLYGON (((-61.27873 -11.50596, -61.28097...",11,49,85359,1100049,110004
4,1100056.0,Cerejeiras,11,RO,"MULTIPOLYGON (((-61.41347 -13.23417, -61.42603...",11,56,16323,1100056,110005
...,...,...,...,...,...,...,...,...,...,...
5560,5222005.0,Vianópolis,52,GO,"POLYGON ((-48.53842 -16.75003, -48.54051 -16.7...",52,22005,13863,5222005,522200
5561,5222054.0,Vicentinópolis,52,GO,"POLYGON ((-50.00189 -17.78179, -50.01420 -17.7...",52,22054,8743,5222054,522205
5562,5222203.0,Vila Boa,52,GO,"POLYGON ((-47.07742 -15.06330, -47.07851 -15.0...",52,22203,6171,5222203,522220
5563,5222302.0,Vila Propício,52,GO,"POLYGON ((-48.91463 -15.20939, -48.91532 -15.1...",52,22302,5821,5222302,522230
5564,5300108.0,Brasília,53,DF,"MULTIPOLYGON (((-47.81455 -16.04995, -48.27781...",53,108,3015268,5300108,530010

In [11]:
points = []
for polygon in mun.geometry:
    minx, miny, maxx, maxy = polygon.bounds
    b = False
    while(b == False):
        pnt = Point(random.uniform(minx, maxx), random.uniform(miny, maxy))
        if polygon.contains(pnt):
            b = True
            points.append(pnt)

In [12]:
cod = []
for p in points:
    bef = len(cod)
    for j in inter_shp.index:
        if (inter_shp.geometry[j].contains(p)):
            cod.append(inter_shp.CD_RGINT[j])
            break
    aft = len(cod)
    if(bef == aft):
        coord = str(p.y) + ", " + str(p.x)
        prop = str(geolocator.reverse(coord))
        substring = "Região Geográfica Intermediária de "
        if (substring in prop):
            name = prop.split(substring)[1]
            name = name.split(",", 1)[0]
            cod.append(inter_shp[inter_shp['NM_RGINT'] == name].CD_RGINT)

In [13]:
reg_interm = pd.DataFrame()
reg_interm['CD_RGINT'] = cod
reg_interm['GEOCODIGO'] = mun['code_muni']
reg_interm = pd.merge(reg_interm, pop, on = "GEOCODIGO")
reg_interm = reg_interm.groupby(["CD_RGINT"]).sum()
reg_interm = reg_interm.iloc[:, [3]]
reg_interm.to_csv("results/RegioesIntermediarias.csv", sep = ";")

In [14]:
#Regioes Imediatas
ime_shp = geobr.read_immediate_region()
ime_shp

,code_immediate,name_immediate,code_state,abbrev_state,name_state,code_region,name_region,geometry
0,110001,Porto Velho,11,RO,Rondônia,1,Norte,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ..."
1,110002,Ariquemes,11,RO,Rondônia,1,Norte,"MULTIPOLYGON (((-62.48851 -8.73008, -62.48411 ..."
2,110003,Jaru,11,RO,Rondônia,1,Norte,"MULTIPOLYGON (((-62.22055 -8.59088, -62.21053 ..."
3,110004,Ji-Paraná,11,RO,Rondônia,1,Norte,"MULTIPOLYGON (((-61.57450 -9.72063, -61.57157 ..."
4,110005,Cacoal,11,RO,Rondônia,1,Norte,"MULTIPOLYGON (((-61.42731 -10.98755, -61.00059..."
...,...,...,...,...,...,...,...,...
505,520019,Luziânia,52,GO,Goiás,5,Centro Oeste,"MULTIPOLYGON (((-48.36389 -15.81896, -48.35204..."
506,520020,Águas Lindas de Goiás,52,GO,Goiás,5,Centro Oeste,"MULTIPOLYGON (((-47.14176 -14.53552, -47.13290..."
507,520021,Posse-Campos Belos,52,GO,Goiás,5,Centro Oeste,"MULTIPOLYGON (((-46.41484 -12.82778, -46.41147..."
508,520022,Flores de Goiás,52,GO,Goiás,5,Centro Oeste,"MULTIPOLYGON (((-47.63129 -13.10818, -47.62762..."
509,530001,Distrito Federal,53,DF,Distrito Federal,5,Centro Oeste,"MULTIPOLYGON (((-48.23248 -15.78360, -48.23252..."

In [15]:
cod = []
for p in points:
    for j in ime_shp.index:
        if (ime_shp.geometry[j].contains(p)):
            cod.append(int(ime_shp.code_immediate[j]))
            break

In [16]:
reg_ime = pd.DataFrame()
reg_ime['CD_RGIME'] = cod
reg_ime['GEOCODIGO'] = mun['code_muni']
reg_ime = pd.merge(reg_ime, pop, on = "GEOCODIGO")
reg_ime = reg_ime.groupby(["CD_RGIME"]).sum()
reg_ime = reg_ime.iloc[:, [3]]
reg_ime.to_csv("results/RegioesImediatas.csv", sep = ";")

In [17]:
#Sedes Municipais
sede_shp = geobr.read_municipal_seat(year = 2010)
sede_shp

,code_muni,name_muni,code_state,abbrev_state,code_region,name_region,year,geometry
0,1100015.0,Alta Floresta D'oeste,11,RO,1,Norte,2010,POINT (-61.99982 -11.93554)
1,1100023.0,Ariquemes,11,RO,1,Norte,2010,POINT (-63.03327 -9.90846)
2,1100031.0,Cabixi,11,RO,1,Norte,2010,POINT (-60.54431 -13.49976)
3,1100049.0,Cacoal,11,RO,1,Norte,2010,POINT (-61.44294 -11.43387)
4,1100056.0,Cerejeiras,11,RO,1,Norte,2010,POINT (-60.81843 -13.19503)
...,...,...,...,...,...,...,...,...
5560,5222005.0,Vianópolis,52,GO,5,Centro Oeste,2010,POINT (-48.51347 -16.74208)
5561,5222054.0,Vicentinópolis,52,GO,5,Centro Oeste,2010,POINT (-49.80724 -17.73266)
5562,5222203.0,Vila Boa,52,GO,5,Centro Oeste,2010,POINT (-47.05736 -15.03489)
5563,5222302.0,Vila Propício,52,GO,5,Centro Oeste,2010,POINT (-48.88242 -15.45463)
5564,5300108.0,Brasília,53,DF,5,Centro Oeste,2010,POINT (-47.88791 -15.79409)

In [18]:
pop_sede = pd.merge(sede_shp, pop, left_on = "code_muni", right_on = "GEOCODIGO")
pop_sede = pop_sede.iloc[:,[0,10]]
pop_sede = pop_sede.groupby(["code_muni"]).sum()
pop_sede.to_csv("results/SedesMunicipais.csv", sep = ";")